nav{
    color:white;
    background-color:black;
    padding:15px
}

a{
    color:white;
    text-decoration:none;
    padding:10px
}

.one{
text-align: center;
background-color: red;
padding:15px

}

.two{
    color:blue;
    text-decoration: underline;
}

